<!-- Generated template for the TyreStatusAccordionComponent component -->
<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ tyreTypes.brandNew.length }} Brand New
      </mat-expansion-panel-header>
      dasd
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ tyreTypes.firstDag.length }} Dagged Once
      </mat-expansion-panel-header>
      dasd
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header
        >{{ tyreTypes.secondDag.length }} Dagged Twice
      </mat-expansion-panel-header>
      dasd
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header
        >{{ tyreTypes.thirdDag.length }} Dagged Thrice
      </mat-expansion-panel-header>
      dasd
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header
        >{{ tyreTypes.noGuarantee.length }} NO Guarantee
      </mat-expansion-panel-header>
      dasd
    </mat-expansion-panel>
  </mat-accordion>
</div>
